<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ResourceAccess</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
       var socket  = io.connect();
       socket.on('connect', function(){ console.log("socket connected");});
       socket.on('message', function(v){ 
       			if( v.indexOf("robot") >= 0 ){document.getElementById('robotDisplay').innerHTML=v; }
       			if( v.indexOf("sonarRobot") >= 0 ){document.getElementById('sonarRobotDisplay').innerHTML=v; }
       			}
       	);
</script>
<!-- <script type="text/javascript" src="QActorWebUI.js"></script> -->
</head>

<body>
 
<div style="background-color: #D2B4DE">
<h2>Robot Console</h2>   
<center>
			<table >
					<tr>
						<td></td>
						<td align="center">
							<form action="/w" method="post">
							  	<input type="submit" style="font-size:30px;" value="forward" >
							</form>
						</td>
						<td></td>
					</tr>
					

					<tr>
						<td align="center">
							<form action="/a" method="post">
							  	<input type="submit" style="font-size:30px;"  value="left" >
							</form>
						</td>
						<td align="center">
							
							<form action="/h" method="post">
							    <font size="3" color="red">
							  	<input type="submit" style="font-size:40px;"  value="stop"  >
							  	</font>
							</form>
						</td>
						<td align="center">
							<form action="/d" method="post">
							  	<input type="submit" style="font-size:30px;" value="right"  >
							</form>
						</td>
					</tr>
					<tr>
						<td></td>
						<td align="center">
							<form action="/s" method="post">
							  	<input type="submit" style="font-size:30px;"  value="backward"  >
							</form>
						</td>
						<td></td>
					</tr>
				</table>
</center>
 
 
</div>
<div style="background-color: #FAF19C">
	<div>
 		<b>ROBOT STATE</b>: <span id="robotDisplay"></span>
  	</div>
	<div>
  		<b>SONAR STATE</b>: <span id="sonarRobotDisplay"></span>
	</div>
</div>
<center></center>
</body>
</html>
