<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ResourceAccess</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script>
function escapeRegExp(str) {
    return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
}
       var socket  = io.connect();
       socket.on('connect', function(){ 
        		console.log("socket connected");
       });
       socket.on( 'message', function(v){ 
       		console.log("RECEIVED " + v);
        	if( v.indexOf("robotState:") >= 0 ){document.getElementById('robotDisplay').innerHTML=v; }
        	if( v.indexOf("sonarRobot:") >= 0 ){document.getElementById('sonarRobotDisplay').innerHTML=v; }
        	if( v.indexOf("roomMap:") >= 0 ){
        		v1 = v.replace("roomMap:state('", "").replace("')", "");
        		v2 = "<br/><pre>"+ v1.replace(/@/g, "<br/>")+"</pre>";
          		console.log("v2= " + v2);
        		document.getElementById('mapDisplay').innerHTML=v2; 
        	}
       	});
</script>
 
</head>

<body>
 
<div style="background-color: #D2B4DE">
<h2>Robot Console</h2>   
<center>
			<table >
					<tr>
						<td></td>
						<td align="center">
							<form action="/w" method="post">
							  	<input type="submit" style="font-size:30px;" value="forward" >
							</form>
						</td>
						<td></td>
					</tr>
					

					<tr>
						<td align="center">
							<form action="/l" method="post">
							  	<input type="submit" style="font-size:30px;"  value="left" >
							</form>
						</td>
						<td align="center">
							
							<form action="/h" method="post">
							    <font size="3" color="red">
							  	<input type="submit" style="font-size:40px;"  value="stop"  >
							  	</font>
							</form>
						</td>
						<td align="center">
							<form action="/r" method="post">
							  	<input type="submit" style="font-size:30px;" value="right"  >
							</form>
						</td>
					</tr>
					<tr>
						<td></td>
						<td align="center">
							<form action="/s" method="post">
							  	<input type="submit" style="font-size:30px;"  value="backward"  >
							</form>
						</td>
						<td></td>
					</tr>
				</table>
</center>
 
<h2>Application console</h2>   
<center>
			<table >	
					<tr>
						<td align="center">
							<form action="/explore" method="post">
							  	<input type="submit" style="font-size:30px;"  value="EXPLORE">
							</form>
						</td>
						<td align="center">
							<form action="/startappl" method="post">
							  	<input type="submit" style="font-size:30px;"  value="START" >
							</form>
						</td>
						<td align="center">							
							<form action="/stopappl" method="post">							    
							  	<input type="submit" style="font-size:30px; color:red;"  value="STOP"  >							  	 
							</form>
						</td>
				</table>
</center> 

<h2>Maitre console</h2>   
<center>
			<table >	
					<tr>
 						<td align="center">
							<form action="/prepare" method="post">
							  	<input type="submit" style="font-size:20px;"  value="PREPARE" >
							</form>
						</td>
 						<td align="center">
							<form action="/add" method="post">
							  	<input type="submit" style="font-size:20px;"  value="ADD" >
							</form>
						</td>
 						<td align="center">
							<form action="/clear" method="post">
							  	<input type="submit" style="font-size:20px;"  value="CLEAR" >
							</form>
						</td>
						<td align="center">							
							<form action="/stopappl" method="post">							    
							  	<input type="submit" style="font-size:20px; color:red;"  value="STOP"  >							  	 
							</form>
						</td>
						<td align="center">							
							<form action="/reactivateappl" method="post">							    
							  	<input type="submit" style="font-size:20px; color:green;"  value="REACTIVATE"  >							  	 
							</form>
						</td>
				</table>
</center> 

</div>
<div style="background-color: #FAF19C">
	<div>
 		<b>ROBOT STATE</b>: <span id="robotDisplay"></span>
  	</div>
	<div>
  		<b>SONAR STATE</b>: <span id="sonarRobotDisplay"></span>
	</div>
	<div>
  		<b>ROOM MAP</b>: <span id="mapDisplay"></span>
	</div>

</div>
<center></center>
</body>
</html>
