bin
bin/default
.metadata
 
 # Ignore Gradle project-specific cache directory
.gradle
gradlew
gradlew.bat
gradle

/ReadMe.html
.lck/ 
docker/
/.metadata/
/src-gen/

/build_ctxButton.gradle
/build_ctxLeds1.gradle
/chain.pl
/sysRules.pl
